* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  /* height: 100vh; */
  background: radial-gradient(circle at top, #14213d, #0b1220);
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}
